import("methods")
import("lattice")
importFrom("MASS", "ginv")
importFrom("MASS", "mvrnorm")
importFrom('statmod', "gauss.quad.prob")

export(
    "combine.pars",
    "as.weight",
    "as.poly.mod",
    "is.poly.mod",
    "is.sep.pars",
    "is.irt.pars",
    "is.link",
    "is.irt.prob",
    "link.con",
    "link.pars",
    "link.ability",
    "get.prob",
    "read.bilog",
    "read.parscale",
    "read.multilog",
    "read.testfact",
    "read.icl",
    "read.bmirt",
    "read.ltm",
    "read.erm"
)

exportClasses(
    "poly.mod",
    "sep.pars",
    "irt.pars",
    "irt.prob",
    "link",
    "list.poly",
    "list.dat",
    "list.num",
    "num.null",
    "list.null",
    "pars.null"
)

exportMethods(
    "drm",
    "gpcm",
    "grm",
    "nrm",
    "mcm",
    "mixed",
    "sep.pars",
    "as.irt.pars",
    "plink",
    "equate"
)

S3method(plot,irt.prob)
S3method(plot,sep.pars)
S3method(plot,irt.pars)
S3method(plot,list)
S3method(summary,irt.pars)
S3method(summary,sep.pars)
S3method(summary,list)
S3method(summary,link)